.custom_slider {
    width: 90%;
    margin: auto;
    cursor: pointer;
}

.custom_slider .rc-slider-track {
    background-color: white;
}

.custom_slider .rc-slider-step {
    display: none;
}

.custom_slider .rc-slider-handle {
    border-color: white;
}